<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.easyfun.content.mapper.ContentPostMapper">
    <sql id="tableName">
        content_post
    </sql>

    <sql id="baseColumn">
        post_id,owner_id,title,description,cover_url,post_type,is_visibility,allow_comment,status,view_count,like_count,comment_count,comment_area_id,created_at,published_at,updated_datetime
    </sql>

    <select id="selectResourceList" resultType="com.star.easyfun.content.pojo.dto.ContentResourceDTO">
        SELECT pr.*,r.* from content_post_resource pr
        LEFT JOIN content_resource r on r.resource_id = pr.resource_id
        WHERE pr.post_id = #{postId}
    </select>
</mapper>