<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.easyfun.content.mapper.ContentResourceMapper">
    <sql id="tableName">
        content_resource
    </sql>

    <sql id="baseColumn">
        resource_id,resource_type,title,description,file_url,file_key,file_size,duration,width,height,file_type,status,owner_id,created_datetime,updated_datetime
    </sql>

</mapper>