<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.easyfun.content.mapper.RecommendParamMapper">
    <sql id="tableName">
        recommend_param
    </sql>

    <sql id="baseColumn">
        param_id,user_id,alpha,w_div,w_bound
    </sql>

</mapper>